@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Example Plugin</title>
	<link rel="stylesheet" href="/static/css/tailwindcss-plugin-for-epi.css" />
</head>
<body class="font-sans text-copy bg-admin">
	<div class="m-4" id="js-main">
		<h1 class="text-xl mb-3 border-b border-line pb-1">Example Tailwind CSS Plugin</h1>

		<h2 class="text-lg mb-3">Sample typography</h2>
		<p class="mb-3 text-sm font-proxima">This is just a sample paragraph with <a href="?test1" class="text-primary underline">a really cool hyperlink</a> and I think the spacing and sizing is somewhat correct.</p>
		<ul class="list-disc pl-4 text-sm font-proxima mb-5">
			<li>It gives you a lot of control.</li>
			<li>You can use your existing CSS skills.</li>
		</ul>

		<h2 class="text-lg mb-3">Testing a form</h2>

		@{
			var labelRules = "text-sm block mb-1 md:mb-0 pr-4";
			var inputRules = "text-sm border-2 rounded-sm w-full py-2 px-3 leading-tight hover:border-black focus:border-primary";
		}

		<form method="get" action="." class="max-w-full md:w-2/4 md:max-w-2xl bg-surface-dark p-4 border border-line rounded-sm mb-5">
			<div role="alert" class="mb-6">
				<div class="bg-danger text-white font-bold text-sm font-proxima rounded-sm px-4 py-2">
					Some types of errors
				</div>
				<div class="border border-t-0 border-danger rounded-b px-4 py-3">
					<ul class="list-disc pl-4 text-sm font-proxima">
						<li>One is about something.</li>
						<li>The other is about an other thing.</li>
					</ul>
				</div>
			</div>
			<div class="md:flex md:items-center mb-4">
				<div class="md:w-1/5">
					<label class="@labelRules" for="full-name">
						Full name
					</label>
				</div>
				<div class="md:w-4/5">
					<input class="@inputRules" id="full-name" type="text" placeholder="Full name">
				</div>
			</div>
			<div class="md:flex md:items-center mb-4">
				<div class="md:w-1/5">
					<label class="@labelRules" for="address">
						Address
					</label>
				</div>
				<div class="md:w-4/5">
					<input class="@inputRules" id="address" type="text" placeholder="Address">
				</div>
			</div>
			<div class="text-right">
				<input type="submit" value="Submit Form" class="epi-primary text-sm" />
			</div>
		</form>

		<h2 class="text-lg mb-3">Search form and results table</h2>

		<form method="get" action="." class="max-w-xs mb-3">
			<div class="md:flex md:items-center mb-4">
				<div class="mb-4 mr-2 md:w-2/3 md:mb-0">
					<label class="hidden" for="q">Search phrase</label>
					<input class="text-xs border-2 rounded-sm w-full py-2 px-3 leading-none hover:border-black focus:border-primary" id="q" type="text" placeholder="Search phrase">
				</div>
				<div class="md:w-1/3">
					<input type="submit" value="Search" class="epi-flat text-xs" />
				</div>
			</div>
		</form>

		@{
			var thRules = "bg-surface-dark font-proxima text-left border-0 border-line border-b border-solid p-4 border-t-4 font-normal";
			var tdRules = "text-sm font-serif border-0 border-line border-b border-solid p-4";
			var buttonRules = "epi-primary text-xs";
		}

		<table class="max-w-full md:w-2/4 md:max-w-3xl mb-5">
			<caption class="text-right pb-2 text-xs font-proxima">Items found: 3</caption>
			<thead>
				<tr>
					<th class="@thRules">Name</th>
					<th class="@thRules">Address</th>
					<th class="@thRules">Submitted</th>
					<th class="@thRules text-right"><span class="hidden">Actions</span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="@tdRules">Johan Kronberg</td>
					<td class="@tdRules">South Side 77</td>
					<td class="@tdRules">2019-10-01 22:03</td>
					<td class="@tdRules text-right">
						<a href="?test8" class="@buttonRules">Edit</a>
					</td>
				</tr>
				<tr class="bg-primary-light">
					<td class="@tdRules">Sven Svensson</td>
					<td class="@tdRules">44 Test Street</td>
					<td class="@tdRules">2019-10-01 22:03</td>
					<td class="@tdRules text-right">
						<a href="?test9" class="@buttonRules">Edit</a>
					</td>
				</tr>
				<tr>
					<td class="@tdRules">Thomas Thomasson</td>
					<td class="@tdRules">Not sure what street but number was 11</td>
					<td class="@tdRules">2019-10-01 22:03</td>
					<td class="@tdRules text-right">
						<a href="?test10" class="@buttonRules">Edit</a>
					</td>
				</tr>
			</tbody>
		</table>

		<h2 class="text-lg mb-3">Some button examples</h2>
		<div class="mb-3">
			<input type="button" value="Input Button" class="epi-primary mb-1 text-xs" />
			<button class="epi-primary mb-1 text-xs">Button Element</button>
			<a href="?test2" class="epi-primary mb-1 text-xs">Publish Changes</a>
			<a href="?test3" class="epi-danger mb-1 text-xs">Delete Item</a>
			<a href="?test4" class="epi-flat mb-1 text-xs">Click Me</a>
		</div>
		<div class="mb-5">
			<input type="button" value="Input Button" class="epi-primary mb-1 text-sm" />
			<button class="epi-primary mb-1 text-sm">Button Element</button>
			<a href="?test5" class="epi-primary mb-1 text-sm">Publish Changes</a>
			<a href="?test6" class="epi-danger mb-1 text-sm">Delete Item</a>
			<a href="?test7" class="epi-flat mb-1 text-sm">Click Me</a>
		</div>
	</div>

	@* Show a spinner on navigation and submit *@
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var target = document.querySelector('#js-main');
			var div = document.createElement('div');
			div.id = "spinner";
			div.className = 'loading';
			div.style.display = 'none';
			div.style.visibility = 'hidden';
			div.innerHTML = 'Loading...';
			target.parentNode.insertBefore(div, target);

			var spinner = document.getElementById('spinner');

			document.body.addEventListener('submit', function (e) {
				e.preventDefault();
				spinner.style.display = 'block';
				spinner.style.visibility = 'visible';
				setTimeout(function () { e.target.submit() }, 500);
			}, false);

			document.addEventListener('click', function (e) {
				if (!e.target.matches('a')) {
					return;
				}

				e.preventDefault();
				spinner.style.display = 'block';
				spinner.style.visibility = 'visible';
				setTimeout(function () { document.location.href = e.target.href }, 500);
			}, false);
		});
	</script>
</body>
</html>

